body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
  }
  
  .Profile_Picture {
    display: flex;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .Profile_Picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  }
  
  .Name {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .Member_One,
  .Member_Two,
  .Name {
    margin-left: 15px;
  }
  
  .Member_Three .Name {
    margin-left: 5px;
  }

  .Member_Four .Name {
    margin-left: 2px;
  }

  .Member_Five .Name {
    margin-left: 30px;
  }

  .Bio {
    max-width: 27ch;
    font-size: 16px;
    margin-top: 20px;
  }

  .Member_One .Interests_title {
    margin-right: 120px;
  }

  .Member_Two .Interests_title {
    margin-right: 80px;
  }

  .Member_Three .Interests_title {
    margin-right: 60px;
  }

  .Member_Four .Interests_title {
    margin-right: 140px;
  }

  .Member_Five .Interests_title {
    margin-right: 140px;
  }

  .Interest_FunFacts_title_Section {
    display: flex;
    margin-top: 10px;
  }
  
  .Interests_title,
  .Fun_Facts_title {
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .Interest_FunFacts_Section {
    display: flex;
    gap: 70px;
  } 

  .Fun_Facts {
    padding-bottom: 50px;
  }

  .members-top {
    display: flex;
    justify-content: center;
    gap: 150px;
  }
  
  .members-bottom {
    display: flex;
    justify-content: center;
    gap: 300px;
  }

  /* Footer Styles */
  
  .footer-about {
    margin-top: -150px;
  }
  