*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.component {
    display: flex;
}

.component h2 {
    margin-bottom: 5px;
}

.follow {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.commentsLikes {
    display: flex;
    gap: 90px;
}

.commentsLikes img {
    width: 25px;
    height: 25px;
    object-fit: scale-down;
}

.likeHeart {
    display: flex;
    gap: 10px;
}