* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/* .Parent-Nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding:0;
    margin: 0;
} */

nav{
    height: 90px;
    background: black;
}

/*Left Side of Nav bar*/
.nav-inner{
    height: 100%;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    
}


.logo div a{
    padding: 10px 15px; /* You can adjust the padding as needed */
    display: inline-block; /* Aligns the text with the image */
    color: white; /* Assuming you want the text white as it's in a black navbar */
    text-decoration: none; /* Remove underline from links */
    line-height: 70px; /* Align the text vertically */
    height: 100%; /* Full height to align with the logo */
    vertical-align: middle; /* For vertical alignment */
  }

.logo img {
    
    height: 90px; /* Adjust this value based on your actual logo size */
    width: auto; /* Maintain the aspect ratio */
    padding: 10px 15px 10px 60px; /* Adjust padding to align the logo properly */
    /* This will vertically align the img if it's inside a flex container */
  }


.logo{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content:  space-between;
    margin:0px;
    padding: 0px;
    align-items: center;
    

}




/*Right side of Nav*/
.links{
    display: flex;
    justify-content: flex-end;
}

.links a{
    color: white;
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.links a:hover {
    color: #ccc; /* Change as per your design preference */
  }



